<%- include('modules/header') %>
<%- include('modules/nav') %>
<div class="container">
    <div id="guildSelectWrapper" class="select">
        <img src="https://avatars.dicebear.com/api/identicon/ <%= guilds[0].id %>.svg" id="serverIcon">
        <select id="guildSelect" onchange="onGuildSelect(`<%= JSON.stringify(guilds) %>`)">
            <option>-- --</option>
            <% for( let i = 0; i < guilds.length; i++ ) { %>
                <option><%= guilds[i].name %></option>
            <% } %>
        </select>
    </div>
</div>
<%- include('modules/footer') %>