<%- include('modules/header') %>
<%- include('modules/nav') %>
<div class="container">
    <div id="channelSelectWrapper" class="select">
        <select id="channelSelect" onchange="onChannelSelect(`<%= JSON.stringify(channels) %>`)">
            <option>-- --</option>
            <% for( let i = 0; i < channels.length; i++ ) { %>
                <option><%= channels[i].name %></option>
            <% } %>
        </select>
    </div>
</div>
<%- include('modules/footer') %>