<script defer src="/scripts/index.js"></script>
<header class="header">
    <img src="/assets/favicon.png" id="hl"><p>Send More V4</p>
    <button id="homebutton" class="button" onclick="location.href = `${location.href.split('/')[0]}`">Home</button>
    <% if(auth) { %>
        <p id="nav-username">| <%= username %></p>
        <img src=<%= avatar %> id="avatar">
        <% if (locals.server) { %>
            <p id="nav-server">| <%= server.name %></p>
            <img src=<%= server.icon %> id="nav-serverIcon">
            <% if (locals.channel) { %>
                <p id="nav-channel">| #<%= channel.name %></p>
            <% } %>
        <% } %>
        <button id="lob" class="button" onclick="logout()">Log Out</button>
    <% } %>
</header>